* {
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ====================== */
 /* Header Components */
 /* ================== */

header {
  display: flex;
  flex-direction: row;
  background-color: #f2ea98;
  padding: 0 .5em;
}

/* Changes of header */
.text {
  font-weight: 900 ;
}

header h2 {
  margin-right: auto;
  color: #fff;
  align-self: center;
  font-weight: lighter;
}

header h4 {
  color: #fff;
  align-self: center;
}

.icon_bell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bell {
  width: 50px; /*Sizes fluctuates between 15% & 20%*/
  margin-right: .5em;
  padding-right: 1.2em;
  border-right: 1px solid #fff;
  align-self: flex-end;
}

.bell .st0:hover {
  fill: #17a5aa;
}

.avatar {
  width: 40px;
  height: 40px;
  margin: 0 1em 0 0;
  border-radius: 50%;
  align-self: center;
}

/* Icon Bell */

.icon_bell{
  position: relative;
}

.drop-alert {
  padding: 0 .5em;
  position: absolute;
  background: #edeff0;
  display: none;
  right: 46px;
  z-index: 100;
}

.alert_div {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex-direction: column;
  margin: 0 1em;
}

.alert_banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  flex-shrink: 0;
}

.alert_banner:last-child {
  border: none;
}

.alert-banner-close {
  margin: 0;
  font-weight: lighter;
  font-size: 22px;
  line-height: 20px;
  color: #576366;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
  padding: .2em;
}

.alert-banner-close:hover {
  background-color: tomato;
  color: white;
}

.circle_notification {
  align-self: center;
  background:#2D99D3;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  flex-shrink: 0;
}

.circle {
  background:#2D99D3;
  width:10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top:15px;
  right:23px;
}

.icon_bell {
  position: relative;
}

.alert_message {
  margin: 0;
  margin-right: auto;
  margin-left: .5em;
  font-size: 14px;
  align-self: center;
  text-align: left;
  padding: .8em;
}

/* ====================== */
 /* Navigation Components */
 /* ================== */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
}

nav img {
  margin: 0;
  width: 5%;
  height: auto;
  align-self: center;
  margin: 1em 0;
}

/* ====================== */
 /* Main Components */
 /* ================== */

/* Dashboard input */
.main_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard_h2 {
  margin-left: 1em;
  margin-right: 1em;
  font-weight: lighter;
}

.dashboard_search {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: #f4f7e6;
  width: 85%;
  position: relative;
  z-index: 0;
}

.dashboard_search input {
  align-self:  flex-start;
  margin: auto 1em auto auto;
  border-radius: 4px;
  width:40%;
  padding: .5em;
  border: 1px solid lightgray;
}

.dashboard_search input::placeholder,
.widget_container textarea::placeholder,
.widget_container input::placeholder {
  color: lightgray;
}

/* Alert */

.alert {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  margin: 1.2em;
  background-color: #f2ea98;
  color: white;
  border-radius: 4px;
}

.clsbtn {
  margin: 0 15px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  align-self: center;
}

.alert p {
  margin-right: auto;
  padding-left: .5em;
}

.clsbtn:hover {
  color: #2D99D3;
}

/* Traffic Section */

.traffic {
  padding: 1em;
}

.traffic_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.traffic_header h3,
.daily_traffic h3,
.daily_mobile h3,
.social-status,
.members h3,
.recent-activity h3,
.message h3,
.settings h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1em;
}

.recent-activity h3,
.members h3 {
  margin-top: 1em;
  margin-bottom: 0;
}

.message h3 {
  padding: 0 1em;
}

.traffic_nav {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.traffic_li {
  font-weight: lighter;
  margin-left: .5em;
  padding: .5em;
  background:#f2ea98;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.traffic_li:hover,
.bgcolor{
  background-color: #2D99D3;
}

#traffic_widget,
#daily_traffic_widget {
  width: 100%;
}

.traffic_widget_container {
  margin: 0;
}

.daily_traffic,
.daily_mobile {
  border: 1px solid lightgray;
  padding: 1em;
}

.daily_traffic,
.daily_mobile,
.message,
.settings {
  border-left: none;
}
/* Social Media Container */

.social-status {
  margin: 1.5em;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.social_container {
  background-color: #f4f7e6;
  border: 1px solid lightgray;
  flex:1;
  align-self: center;
  align-items: center;
  display: flex;
  margin:1em;
  flex-direction: row;
  justify-content: flex-start;
  padding: .5em;
}

.social_image {
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  align-self: center;
  border: 1px solid black;
  background: #f2ea98;
  justify-content: center;
  margin-left: 10%;
  flex-shrink: 0;
}

.facebook-icon,
.twitter-icon,
.google-icon {
  width: 50%;
  height: 50%;
  align-self: center;
}

.social_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.social_text .text {
  align-self: center;
  color: #f2ea98;
  font-size: 1.3em;
  margin-bottom: 0;
}

.social .number {
  margin-top: 0;
  font-weight: lighter;
  font-size: 2.5em;
}

.number {
  font-size: 2em;
  align-self: center;
}

/* New Members Container  */

.members,
.recent-activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightgray;
  padding: 0 1em;
}

.members,
.recent-activity {
  border-left: none;
}

.member_imgtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.member_container {
  align-items: stretch;
  display: flex;
  padding-bottom: 1em;
  margin-top: 1em;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.member_container:last-child,
.activity_container:last-child {
  border: none;
}

.member_container .date {
  position: absolute;
  right: 5%;
  font-weight: lighter;
  font-size: .8em;
  margin: 0;
}

.member_text {
  font-weight: lighter;
  font-size: .8em;
}

.member_text p {
  margin: 0;
}

.profile_pic {
  width: 40px;
  height: 40px;
  margin: 0 1em 0 0;
  border-radius: 50%;
  align-self: center;
}

/* Recent Activity Section */

.recent-activity {
  border-top: 1px solid lightgray;
  margin-top: 1em;
}

.recent-activity p {
  font-weight: lighter;
  font-size: .8em;
  margin: 0;
}

.recent_text p:last-child {
  margin-top: 0;
}

.recent_text p:first-child {
   margin-bottom: 0;
}

.activity_container{
  position: relative;
}

.activity_container::after {
  content:"\276F";
  color:#f2ea98;
  margin-left: auto;
}

.activity_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1em;
  margin-top: 1em;
}

/* Settings */
.settings {
  padding: 0 1em;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.settings p {
  font-weight: lighter;
}

/* Notification */

#notification_container {
  margin-bottom: 1.5em;
}

.notification-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
}

.notification-content:last-child {
  margin-top: .5em;
}

.toggleBtn_container {
  align-self: center;
}

.toggle_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  height: 30px;
  background: gray;
  border-radius: 30px;
  padding: 5px;
  color: white;
}

.toggle_btn > .inner_circle{
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  align-self: center;
}

.toggle_btn.active {
  background: #f2ea98;
}

.toggle_btn.active > .inner_circle {
  margin-left: 40px;
}

.on {
  display: none;
  align-self: center;
}

/* settings Form Field & Buttons */

.form_field_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  position: relative;
}

.form-field {
  margin-bottom: 1em;
  background-color: #f4f7e6;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: .5em;
}

textarea {
  resize: none;
  height: 200px;
  background-color: #f4f7e6;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: .5em;
}

 #autocomplete-results {
  border: 1px solid lightgray;
  position: absolute;
  width: calc(100% - 2em);
  top: 11%;
  background: white;
  padding: 0;
  display: none;
}

.liResults {
  padding: 1em;
}

.liResults:hover {
  background-color: #f2f2f2;
}

.highlighted {
  background: lightgray;
}

.show {
  display: block;
}

.button_send {
  width: 100%;
  padding: 10px;
  margin: 1.2em 0;
  background-color: #f2ea98;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Timezone */

#timezone {
  width: 100%;
  color: lightgray;
  -webkit-appearance: none;
  -moz-apearance: none;
  appearance: none;
  padding: .5em;
}

.settings_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-saved,
.button-cancel {
  width: 100%;
  padding: 10px;
  margin: 1.2em 0;
  background-color: #f2ea98;
  color: white;
  border-radius: 4px
}

.button-cancel {
  background-color:#c6845d;
  margin-left: 1em;
}

/* ====================== */
 /* Grid Components */
 /* ================== */

.grid_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
  "header"
  "navigation"
  "main";
}

header {
  grid-area: header;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: main;
}

@media (min-width:320px) {

  .circle,
  .avatar {
    display: none;
  }

  .notification-content {
    width: 90%;
  }

  .dashboard_search input {
    width: 80%;
  }

  .traffic_li {
    padding: 3px;
    margin-left: 5px;
  }
}

@media(min-width: 375px) {

  .circle,
  .avatar {
    display: block;
  }
}

@media(min-width: 768px){

  .grid_container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "navigation main";
  }

  main {
    grid-template-columns: 50%;
    display:grid;

  }

  .main_header,
  .alert,
  .traffic,
  .social-status,
  .social {
    grid-column: 1/3;
  }

  .daily_traffic {
    grid-column: 2/1;
  }

  .members,
  .message {
    grid-column: 1/2;
  }

  .recent-activity {
    margin: 0;
  }

  .member_container {
    flex-direction: row;
  }

  .member_container .date {
    position: inherit;
    align-self: center;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  nav img {
    margin: 0;
    width: 65%;
    margin: 1.5em 0;
  }

  .settings {
    border-top: none;
  }
  .dashboard_search input{
    width: 40%;
  }

  #autocomplete-results {
   top: 14%;
 }

  .notification-content{
    width: 80%;
  }

  textarea {
    /* height: 136.5px; */
    height: 100px;
  }

  .icon_bell {
    width: 30%;
  }
  .social_text .text {
    align-self: center;
    color: #f2ea98;
    font-size: 1em;
    margin-bottom: 0;
  }

  .social .number {
    margin-top: 0;
    font-weight: lighter;
    font-size: 1.5em;
  }

  .traffic_li {
    margin-left: 1em;
    padding: .5em;

  }
  .traffic_widget_container{
    width: calc(100vw - 55px - 2em);
    position: relative;
  }
  .daily_traffic_container,
  .daily_mobile_container {
    position: relative;
    width: calc((100vw - 55px - 4em) / 2);
  }
}
